[package]
name = "discord_tts_bot"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = "thin"

[dependencies]
url = "2.2"
toml = "0.5"
rand = "0.8"
regex = "1.5"
serde = "1.0"
strfmt = "0.1"
dashmap = "5.0"
tracing = "0.1"
strsim = "0.10"
reqwest = "0.11"
indexmap = "1.7"
itertools = "0.10"
cargo-lock = "7.0"
lazy_static = "1.4"
parking_lot = "0.11"
deadpool-postgres = "0.10"
#serenity = { git = "https://github.com/serenity-rs/serenity", branch = "next", default-features = false, features = ["simdjson"] }

[dependencies.tokio]
version = "1.14"
features = ["macros", "rt-multi-thread", "signal"]

[dependencies.poise]
git = "https://github.com/kangalioo/poise"
features = ["collector"]
branch = "develop"

[dependencies.songbird]
git = "https://github.com/serenity-rs/songbird"
branch = "next"

[dependencies.lavalink-rs]
git = "https://gitlab.com/vicky5124/lavalink-rs"
rev = "92386c47bf717d927a9b74f884e172562999c654"
features = ["serenity", "rustls"]

[dependencies.psutil]
version = "3.2"
features = ["process"]
default-features = false

# Premium dependencies
[dependencies.base64]
version = "0.13"
optional = true

[dependencies.jsonwebtoken]
version = "7.2"
optional = true


# lavalink pulls serenity from crates.io. tell it to pull from github instead 
[patch.crates-io]
serenity = { git = "https://github.com/serenity-rs/serenity", branch = "next" }
songbird = { git = "https://github.com/serenity-rs/songbird", branch = "next" }

[features]
premium = ["base64", "jsonwebtoken"]
