[package]
name = "discord_tts_bot"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = "thin"

[dependencies]
serde = "1"
regex = "1"
toml = "0.5"
rand = "0.8"
anyhow = "1"
strfmt = "0.2"
indexmap = "1"
tracing = "0.1"
gettext = "0.4"
linkify = "0.9"
strsim = "0.10"
once_cell = "1"
sysinfo = "0.25"
itertools = "0.10"
num-format = "0.4"
parking_lot = "0.12"
const_format = "0.2"
strum_macros = "0.24"
generic-array = "0.14"

[dependencies.symphonia]
git = "https://github.com/FelixMcFelix/Symphonia"
features = ["mp3", "ogg", "wav", "pcm"]
branch = "songbird-fixes"
default-features = false

[dependencies.sqlx]
version = "0.6"
default-features = false
features = ["macros", "postgres", "runtime-tokio-rustls"]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["rustls-tls"]

[dependencies.tokio]
version = "1"
features = ["rt-multi-thread", "signal", "parking_lot"]

[dependencies.dashmap]
version = "5"
default-features = false

[dependencies.gnomeutils]
git = "https://github.com/GnomedDev/GnomeUtils"
features = ["error_handling", "help_command", "analytics", "i18n", "bot_list", "logging", "songbird"]
branch = "personal"

[dependencies.serenity_feature_only]
git = "https://github.com/GnomedDev/serenity"
features = ["unstable_discord_api", "simd-json"]
default-features = false
package = "serenity"
branch = "personal"

[dependencies.poise]
git = "https://github.com/GnomedDev/poise"
features = ["cache"]
branch = "personal"

[dependencies.songbird]
git = "https://github.com/serenity-rs/songbird"
features = ["builtin-queue", "simd-json"]
branch = "next"

[patch."https://github.com/serenity-rs/serenity"]
serenity = {git = "https://github.com/GnomedDev/serenity", branch = "personal"}

[patch.crates-io."serenity"]
git = "https://github.com/GnomedDev/serenity"
branch = "personal"
