server: # REST and WS server
    port: 2333
    address: 0.0.0.0

lavalink:
    server:
        password: "youshallnotpass"
        soundcloudSearchEnabled: false
        youtubeSearchEnabled: false
        sources:
            youtube: false
            bandcamp: false
            soundcloud: false
            twitch: false
            vimeo: false
            local: false
            http: true
        #ratelimit:
            #ipBlocks: ["1.0.0.0/8", "..."] # list of ip blocks
            #excludedIps: ["...", "..."] # ips which should be explicit excluded from usage by lavalink
            #strategy: "RotateOnBan" # RotateOnBan | LoadBalance | NanoSwitch | RotatingNanoSwitch
            #searchTriggersFail: true # Whether a search 429 should trigger marking the ip as failing
            #retryLimit: -1 # -1 = use default lavaplayer value | 0 = infinity | >0 = retry will happen this numbers times

        bufferDurationMs: 400 # The duration of the NAS buffer. Higher values fare better against longer GC pauses
        frameBufferDurationMs: 5000 # How many milliseconds of audio to keep buffered
        playerUpdateInterval: 5 # How frequently to send player updates to clients, in seconds
        gc-warnings: true

logging:
    file:
        max-history: 30
        max-size: 1GB
    path: ./logs/

    level:
        root: INFO
        lavalink: INFO
