git+https://github.com/Rapptz/discord.py.git@fc51736b34df3c37c06781ae948b18efb71616fa#egg=discord.py[voice,speed]
git+https://github.com/Gnome-py/asyncgTTS.git@8839acc4b2e28d4cb1d374501904bfa16ef3519d
git+https://github.com/Gnome-py/voxpopuli.git@async-support
aioredis[hiredis]>=2.0.0a1,<3.0
aiohttp[speedups]
cryptography
websockets
asyncpg
mutagen
orjson
psutil
pydub
gtts
