git+https://github.com/hadware/voxpopuli.git@async-support
git+https://github.com/Gnome-py/asyncgTTS.git
aioredis[hiredis]>=2.0.0a1,<3.0
discord.py[voice]
cryptography
websockets
asyncpg
mutagen
psutil
pydub
gtts
