git+https://github.com/Gnome-py/enhanced-discord.py.git@2424491ca3273d47d6a3c9112c1be6e9edbedab0#egg=discord.py[voice,speed]
git+https://github.com/Gnome-py/voxpopuli.git@async-support
git+https://github.com/Gnome-py/asyncgTTS.git
aioredis[hiredis]>=2.0.0a1,<3.0
cryptography
sql-athame
websockets
asyncpg
mutagen
orjson
psutil
pydub
gtts
